/* Breakpoints */
// < 375 - mobile
$fablet-width: 568px;        // from-fablet
$tablet-width: 768px;        // from-tablet
$laptop-width: 1100px;       // from-laptop
$apple-width: 1024px;        // from-apple
$notebook-width: 1220px;     // from-notebook
$desktop-width: 1580px;      // from-desktop
