.btn-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 5px 24px 6px;
    font-size: var(--font-size-medium-mini);
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 16px;
    cursor: pointer;
    transition: color .2s ease, border-color .2s ease, background-color .2s ease;
    @include from-fablet {
        font-size: var(--font-size-medium);
    }
}

// btn-bg-font/fill-border
.btn-blue-white-blue {
    color: var(--btn-1);
    background-color: var(--btn-3);
    border-color: var(--btn-3);
    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-4);
            border-color: var(--btn-4);
        }
        &:hover:active {
            background-color: var(--btn-5);
            border-color: var(--btn-5);
        }
    }
}
.btn-white-black-white {
    color: var(--btn-2);
    background-color: var(--btn-1);
    border-color: var(--btn-1);
    @media (hover: hover) {
        &:hover {
            color: var(--btn-4);
        }
        &:hover:active {
            color: var(--btn-5);
        }
    }
}
