.page {
    height: 100%;
}
.page__body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-2);
    background-color: var(--bg-5);
}
.page__main {
    position: relative;
    overflow: hidden;
}
